
.notification-page {
 .box-item-header {
   position: relative;
  }
}

.notification-option {
  position: absolute;
  right: 22px;
  top: 100%;
  transition: all .3s;
  z-index: 9;

  &__list {
    border-radius: 5px;
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 5px 0;
    background: #6f7780;
  }

  &__items {
    font-size: 14px;
    padding: 10px 12px;
    color: #fff;
  }
}
