.side-container{
    
  
    .side-row-item
    {
        border:1px solid #DBDEDE;
        .row-container
        {
            padding: 20px;
        }
    }
    
    .side-action
    {
        padding-left: 20px;
        padding-right: 20px;
    }
   
}

