@import "../../variables.scss";

.job-history-page {
  .date {
    text-align: right;
    color: $grey;
    font-size: 13px;
    font-weight: 400;
    line-height: 17px;
  }
}

.button-disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.showNameEmail{
  display: inline-block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}