$white: #ffffff;
$grey: #6f7780;

$job-status-completed: Green;
$job-status-billed: Purple;
$job-status-inprogress: #009ada;
$job-status-new:Yellow;
$job-status-paid: Blue;
$job-status-inactive: #6f7780;
$job-status-canceled:Red;
